.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  gap: 15px;

  border-radius: 5px;
  padding: 20px;

}

.form {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;

}

.input {
  padding: 10px;
  border: 2px solid #acacac;
  border-radius: 15px;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  width: 300px;
  transition: transform 0.3s ease;
}

.input:focus {
  outline: none;
  border: 3px solid aqua;
}

.input:hover {
  border: 3px solid aqua;
  transform: scale(1.05);

}

.registerLink:hover {
  color: #0076fd;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translate(-6px, 2px);
  }

  40% {
    transform: translate(6px, 2px);
  }

  60% {
    transform: translate(-6px, 2px);
  }

  80% {
    transform: translate(6px, 2px);
  }

  100% {
    transform: translateX(0);
  }
}

.emailError,
.passwordError {
  animation: shake 0.5s ease-in-out;
  border: 2px solid red;


}