.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  height: 60px;
  color: rgb(255, 255, 255);
  background-color: #313866;
}


.links{
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: larger;

}
.links a:hover{
    color: #0076fd;
}

.logoDiv{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.active {
    color: #0076fd;
    font-weight: bold;
}
.logoImageDiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.logoImage {
    position: absolute;
    object-fit: cover;
    transition: transform 0.3s ease;
}

