.containder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px;
}

.dashboard {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

    height: 100vh;
    overflow: hidden;
    border-top: 2px solid #acacac;
    overflow-y: scroll;
}

.dashboardNav {
    position: sticky;

    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    border-right: 2px solid #acacac;
    padding-top: 15px;
    height: 100vh;
    
}

.dashboardNavItem {
    border-bottom: 2px solid #acacac;

    width: 100%;
    transition: transform 0.3s ease;
    text-align: center;
    height: 40px;
    font-size: 18px;

}

.dashboardNavItem:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.02);
}


