.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

.filter {
    width: 25%;
    height: 100%;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #e2e2e2;
}

.dashboard {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
    border-top: 2px solid #acacac;
    overflow-y: scroll;
}

.dashboardNav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 2px solid #acacac;
    
    height: 100vh;
    width: 30%;
    background-color: #4f8fc0;
    min-width: 200px;

}

.dashboardNavItem {
    border-bottom: 2px solid #ffe3b3;
    width: 100%;
    transition: transform 0.3s ease;
    height: 60px;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
;

}

.dashboardNavItem:hover {
    background-color: #2772ac;
    cursor: pointer;
    transform: scale(1.01);
}

.dashboardContent {

    padding: 10px;
    overflow-y: auto;
    width: 100%;
    max-width: 80%;
    min-width: 600px;
}